input[type='range'] {
  border: none;
  width: 200px;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.slider-value {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-purple);
  width: 35px;
  height: 35px;
  border-radius: 100px;
}

.slider-value p {
  color: var(--color-white)
}

@media (hover: hover) {
  input[type='range']:hover {
    cursor: pointer;
    filter: brightness(90%);
    transition: filter 0.2s ease-in-out;
  }
}

@media (min-width: 900px) {
  input[type='range'] {
    width: 250px;
  }

  .slider-container {
    gap: 20px;
  }
  
  .slider-value {
    width: 45px;
    height: 45px;
  }
  
  .slider-value p {
    font-size: 18px;
  }
}
