.radio-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

label {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

label input[type="radio"]:checked {
  accent-color: var(--color-purple);
}
