#form-a-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#form-a-container h2 {
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  #form-a-container {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    padding: 30px 70px;
  }
}

@media (min-width: 900px) {
  #form-a-container h2 {
    font-size: 32px;
    margin-bottom: 24px;
  }
}
