.button {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 100px;
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;
  border: none;
}

.button-icon {
  width: 18px;
  height: 18px;
}

@media (hover: hover) {
  .button:not(:disabled):hover {
    cursor: pointer;
    filter: brightness(60%);
    transition: filter 0.2s ease-in-out;
  }
}

@media (min-width: 900px) {
  .button {
    padding: 12px 24px;
    font-size: 16px;
  }

  .button-icon {
    width: 24px;
    height: 24px;
  }
}
