.button {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 100px;
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;
  border: none;
}

.button-icon {
  width: 18px;
  height: 18px;
}

@media (hover: hover) {
  .button:hover {
    cursor: pointer;
    filter: brightness(75%);
    transition: filter 0.2s ease-in-out;
  }
}
