#recommendation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.recommendation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 35px;
  border-radius: 30px;
  gap: 3px;
  width: 330px;
  height: 180px;
}

.recommendation h4 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.recommendation p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.recommendation-icon {
  width: 20px;
  height: 20px;
}

a {
  color: var(--color-white);
}

@media (hover: hover) {
  a:hover {
    transition: filter 0.2s ease-in-out;
    filter: brightness(60%);
  }

  .recommendation {
    width: 400px;
  }
}

@media (min-width: 900px) {
  #recommendation-container {
    gap: 60px;
  }

  .recommendation {
    padding: 28px 50px;
    border-radius: 30px;
    gap: 5px;
    width: 500px;
    height: 250px
  }

  .recommendation h4 {
    margin-bottom: 18px;
    font-size: 30px;
  }

  .recommendation p {
    gap: 10px;
    font-size: 18px;
  }

  .recommendation-icon {
    width: 25px;
    height: 25px;
  }
}
