:root {
  --color-white: #fff;
  --color-black: #000000;
  --color-purple: #5b12b6;
  --color-purple-pink-gradient: linear-gradient(
    130deg,
    rgba(76, 0, 176, 1) 20%,
    rgba(232, 188, 240, 1) 100%
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
}
